.app-container {
    width: 1200px;
    height: 800px;
    margin: 16px auto;
    display: flex;
    position: relative;
}

.side-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.main-container {
    width: 800px;
    display: flex;
    flex-direction: column;
}