.contacts-list {
    list-style: none;
}
.contacts-list li {
    display: flex;
    margin: 10px 15px;
    cursor: pointer;
}
.contacts-list li p {
    margin-left: 10px;
    font-size: 18px;
}

.fas {
    margin: 0 10px;
    font-size: 20px;
    color: #B1B1B1;
    cursor: pointer;
}

.search-contact {
    padding: 10px 15px;
}

.search-contact input {
    height: 30px;
    width: 100%;
    font-size: 14px;
}